body {
	background-color: white;
}

.slide {
	background-size: cover;
	background-color: white;
	height: auto;
	width: 100%;
	margin: 0;
  padding: 0;
	min-height: 100vh;

	border-style: dashed;
	border-color: white;
}

.img-center {
    display: block;
		margin-left: auto;
    margin-right: auto;
}

@font-face {
	font-family: Quicksand-Regular;
	src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
	font-family: Quicksand-Bold;
	src: url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto-Light;
	src: url(../fonts/Roboto-Light.ttf);
}

#first_title {
	color: black;
	font-family: Quicksand-Bold;
	font-size: 50px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#second_title {
	color: 	#A9A9A9;
	font-family: Roboto-Light;
	font-size: 30px;
	text-align: center;
}

#title_image {
	border-radius: 50%;
	margin-bottom: 25px;
	margin-top: 50px;
}

.animated {
	background-repeat: no-repeat;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
    -webkit-transform: translateY(-60px);
	}
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-60px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
    -webkit-transform: translateY(50px);
	}
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.section_title {
	color: black;
	font-family: Quicksand-Bold;
	font-size: 50px;
	text-align: center;
	margin-bottom: 50px;
	padding-top: 50px;
}

.about_text {
	font-size: 20px;
	margin: auto;
	color: black;
	font-family: Roboto-Light;
	text-align: left;
	max-width: 1000px;
}

#about_image {
	float: left;
  margin: 0px 30px 10px 0px;
	border-radius: 25%;
}

.link {
	color: #000080;
	text-decoration: none;
}

.parallax {
    background-image: url('../images/berkeley_fog.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

#title {
	margin-bottom: 500px;
}

#menu_text {
	color: black;
	font-family: Quicksand-Regular;
	font-size: 30px;
	text-align: center;
	padding: 0px;
	margin-top: 50px;
}

.menu_item {
	text-decoration: none;
	color: black;
}

#footer {
	background-color: white;
	font-family: Roboto-Light;
	font-size: 12px;
	width: 100%
}

#copyright_icons {
	float: left;
}

#copyright_icons {
	float: right;
}

.logo {
	width: 30px;
	margin-left: 10px;
	margin-right: 10px;
  padding: 0;
}

.logo_row {
	margin: 0;
  padding: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	bottom: 100%;  /* At the top of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}

.tooltip .tooltiptext {
    display: none;
    width: 60px;
    background-color: white;
    color: black;
    text-align: center;
		font-family: Roboto-Light;
		font-size: 10px;
    border-radius: 15%;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
		margin-top: 5px;
    margin-left: -30px;
}
