body {
	background-color: white;
}

@font-face {
	font-family: Quicksand-Regular;
	src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
	font-family: Quicksand-Bold;
	src: url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto-Light;
	src: url(../fonts/Roboto-Light.ttf);
}

.heading {
	color: black;
	font-family: Quicksand-Bold;
	font-size: 50px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.subheading {
	color: 	#A9A9A9;
	font-family: Roboto-Light;
	font-size: 25px;
	text-align: center;
	margin-top: 50px;
}

#wrapper {
    height: 100%;
}

.all {
	max-width: 700px;
	margin: auto;
	margin-bottom: 10px;
}

.code {
	font-family: Roboto-Regular;
	font-size: 18px;
	text-align: left;
	float: left;
	width: 100px;
}

.date {
	font-family: Roboto-Light;
	font-size: 18px;
	text-align: right;
	float: right;
	margin-left: 10px;
}

.name {
	font-family: Roboto-Light;
	font-size: 18px;
	text-align: left;
}

.img-center {
    display: block;
		margin-left: auto;
    margin-right: auto;
}

#teaching_img {
	border-radius: 50%;
	margin-bottom: 25px;
	margin-top: 50px;
}

.animated {
	background-repeat: no-repeat;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
    -webkit-transform: translateY(-60px);
	}
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-60px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
    -webkit-transform: translateY(50px);
	}
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

#infinity {
	width: 100%;
	height: 70px;
	font-size: 20px;
	text-align: center;
}

.menu_item {
	text-decoration: none;
	color: black;
}

.text {
	font-family: Roboto-Light;
	font-size: 18px;
	color: black;
	text-align: center;
}

.link {
	color: black;
	text-decoration: none;
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;
  transition:color .2s ease-out, background 2s ease-in;
}

.cs61a:hover {
	color:red;
}

.cs61b:hover {
	color:blue;
}

#top_menu_text {
	color: black;
	font-family: Quicksand-Regular;
	font-size: 30px;
	text-align: center;
	padding: 0px;
	margin-top: 50px;
}

#moving_menu_text {
	color: black;
	font-family: Quicksand-Regular;
	font-size: 20px;
	text-align: center;
	padding: 0px;;
}

#navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	z-index: 100;
	background-color: white;
	display: none;
}

#footer {
	background-color: white;
	font-family: Roboto-Light;
	font-size: 12px;
	width: 100%;
	text-align: center;
}
